{% comment %} hello ankush {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Customer Requirements Form</title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="{% static "fonts/material-icon/css/material-design-iconic-font.min.css" %}"
    />
    <link rel="stylesheet" href="{% static "vendor/nouislider/nouislider.min.css" %}" />

    <!-- Main css -->
    <link rel="stylesheet" href="{% static "css/Requirements Form/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/scss Form/extend.css" %}" />
    <link rel="stylesheet" href="{% static "css/scss Form/fonts.css" %}" />
    <link rel="stylesheet" href="{% static "css/scss Form/global.css" %}" />
    <link rel="stylesheet" href="{% static "css/scss Form/main.css" %}" />
    <link rel="stylesheet" href="{% static "css/scss Form/minxi.css" %}" />
    <link rel="stylesheet" href="{% static "css/scss Form/responsive.css" %}" />
    <link rel="stylesheet" href="{% static "css/scss Form/style.css" %}" />
    
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="signup-content">
          <div class="signup-img">
            <img src="{% static "img/requirement form/img1.jpg" %}" alt="" />
            <div class="signup-img-content">
              <h2>Coustomer Order Form</h2>
              <p>get ready your order on time.. !</p>
            </div>
          </div>
          <div class="signup-form">
            <form method="POST" action ="{% url "customerrequirements" %}" class="register-form" id="register-form">
              <div class="form-row">
                <div class="form-group">
                  <div class="form-input">
                    <label for="first_name" class="required">Company name</label>
                    <input type="text"  value="" name="cname" id="last_name" />
                  </div>
                  <div class="form-input">
                    <label for="last_name" class="required">Project Name</label>
                    <input type="text" value="" name="pname" id="first_name" />
                  </div>
                  {% comment %} <div class="form-input">
                    <label for="company" class="required">Customer part no</label>
                    <input type="text"  value="" name="cpno" id="last_name" />
                  </div> {% endcomment %}
                  <div class="form-input">
                    <label for="email" class="required">Decription</label>
                    <input type="text" value="" name="desc" id="first_name" />
                  </div>

                  <div class="form-input">
                    <label for="email" class="required">part revision</label>
                    <input type="text" value="" name="pr" id="last_name" />
                  </div>

                  <div class="form-input">
                    <label for="email" class="required">Annual Volum</label>
                    <input type="text" value="" name="av" id="first_name" />
                  </div>

                  <div class="form-input">
                    <label for="email" class="required">Quote submission date</label>
                    <input type="date" value="" name="ps" id="last_name" />
                  </div>

                  <div class="form-input">
                    <label for="last_name" class=""> target Value </label>
                    <input type="number"  value="" name="tv" id="first_name" />
                  </div>

                  <div class="form-input">
                    <label for="last_name" class="">SOP Date </label>
                    <input type="date"  value="" name="sop" id="last_name" />
                  </div>

                  <div class="form-input">
                    <label for="company" class="required">Customer_id</label>
                    <input type="text" value="{{customer_data.first.customer_id}}" name="cid" id="=first_name" />
                  </div>

                  <div class="form-input">
                    <label for="email" class="required">Email</label>
                    <input type="text" value="{{customer_data.first.email}}" name="email" id="last_name" />
                  </div>

                  <div class="form-input">
                    <label for="phone_number" class="required"
                      >Phone number</label
                    >
                    <input type="text"  value="{{customer_data.phno}}" name="phone_number" id="first_name" />
                  </div>


                  {% comment %} <div class="form-input">
                    <label for="phone_number" class="required"
                      >Phone number</label
                    >
                    <input type="text" name="phone_number" id="phone_number" />
                  </div> {% endcomment %}
                </div>
                <div class="form-group">
                  <div class="form-input">
                    <label for="company" class="required">Customer part no</label>
                    <input type="text"  value="" name="cpno" id="last_name" />
                  </div>
                  
                  {% comment %} <div class="form-input">
                    <label for="email" class="required">part revision</label>
                    <input type="text" value="" name="pr" id="last_name" />
                  </div> {% endcomment %}

                  <div class="form-input">
                    <label for="chequeno">Part Name</label>
                    <input type="text" name="Part_Name" id="Part_Name" />
                  </div>
                  {% comment %} <div class="form-input">
                    <label for="last_name" class="">SOP Date </label>
                    <input type="number"  value="" name="sop" id="last_name" />
                  </div> {% endcomment %}

                  {% comment %} <div class="form-input">
                    <label for="company" class="required">Customer_id</label>
                    <input type="text" value="{{customer_data.first.customer_id}}" name="cid" id="=first_name" />
                  </div>

                  <div class="form-input">
                    <label for="email" class="required">Email</label>
                    <input type="text" value="{{customer_data.first.email}}" name="email" id="last_name" />
                  </div> {% endcomment %}
                  <div class="form-select">
                    <div class="label-flex">
                      <label for="meal_preference" class="required"
                        >Requirement Type</label
                      >
                      <a href="#" class="form-link">Lunch detail</a>
                    </div>
                    <div class="select-list">
                      <select name="meal_preference" id="meal_preference">
                        <option value="electrical">electrical</option>
                        <option value="mechanical">mechanical</option>
                        <option value="hardware">hardware</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-radio">
                    <div class="label-flex">
                      <label for="payment">Payment Mode</label>
                      <a href="#" class="form-link">Payment Detail</a>
                    </div>
                    <div class="form-radio-group">
                      <div class="form-radio-item">
                        <input type="radio" name="payment" id="cash" checked />
                        <label for="cash">Cash</label>
                        <span class="check"></span>
                      </div>
                      <div class="form-radio-item">
                        <input type="radio" name="payment" id="cheque" />
                        <label for="cheque">Cheque</label>
                        <span class="check"></span>
                      </div>
                      <div class="form-radio-item">
                        <input type="radio" name="payment" id="demand" />
                        <label for="demand">Demand Draf</label>
                        <span class="check"></span>
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-input">
                    <label for="email" class="required">Email</label>
                    <input type="text" value="{{customer_data.first.email}}" name="email" id="last_name" />
                  </div>
                  <div class="form-input">
                    <label for="blank_name"
                      >Special Instructions or Comments</label
                    >
                    <input type="text" name="blank_name" id="blank_name" />
                  </div>
                  <div class="form-input">
                    <label for="payable" class="required">Drawing / Draf</label>
                    <input type="file" name="payable" id="payable" />
                  </div>
                </div>
              </div>
              <div class="donate-us">
                <label></label>
                <!-- <div class="price_slider ui-slider ui-slider-horizontal"> -->
                <!-- <div id="slider-margin"></div> -->
                <hr />
                <!-- <span class="donate-value" id="value-lower"></span> -->
                <!-- </div> -->
              </div>
             <a href="{% url "Cdashboard" %}"> <div class="form-submit">
                <input
                  type="submit"
                  value="Submit"
                  class="submit"
                  id="submit"
                  name="submit"
                /></a>
                <input
                  type="submit"
                  value="Reset"
                  class="submit"
                  id="reset"
                  name="reset"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/nouislider/nouislider.min.js" %}"></script>
    <script src="{% static "vendor/wnumb/wNumb.js" %}"></script>
    <script src="{% static "vendor/jquery-validation/dist/jquery.validate.min.js" %}"></script>
    <script src="{% static "vendor/jquery-validation/dist/additional-methods.min.js" %}"></script>
  </body><script src="{% static "js/main.js" %}"></script>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
